---
layout: default
subheader_copy: Outdoor Industry Innovation Challenge  |  Starts January 12
redirect_from:
- "/challenge"
---

<div class="wrapper">
  <section class="content-section intro">
    {% capture intro %}
      {%- include challenge/intro.md %}
    {% endcapture %}
    {{ intro | markdownify }}
    {% include mailchimp-tw.html %}
  </section>
</div>

<div class="trade-school-image"></div>
<div class="content-section-header">
  <a name="about">About</a>
</div>
<div class="wrapper">
  <section class="content-section about">
    {% capture about %}
      {%- include challenge/about.md %}
    {% endcapture %}
    {{ about | markdownify }}
  </section>
</div>

<div class="audience-image"></div>
<div class="content-section-header">
  <a name="timeline">Timeline</a>
</div>
<div class="wrapper">
  <section class="content-section timeline">
    {% capture timeline %}
      {%- include challenge/timeline.md %}
    {% endcapture %}
    {{ timeline | markdownify }}
  </section>
</div>

<div class="content-section-header">
  <a name="pitches">Pitches</a>
</div>
<div class="wrapper">
  <section class="content-section pitches">
    {% capture pitches %}
      {%- include challenge/pitches.md %}
    {% endcapture %}
    {{ pitches | markdownify }}
    <div class="pitches">
      {% for pitch in site.challenge_pitches %}
        <div class="pitch-container">
          <h3 class="pitch-company"><a href="{{ pitch.company_url }}" target="_blank">{{ pitch.company }}</a></h3>
          <h4 class="pitch-presenter">Presented by {{ pitch.presenter }}</h4>
          <iframe class="pitch-video" src="{{ pitch.vimeo_embed_url }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <div class="pitch-description">
            {{ pitch.content }}
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
</div>


<div class="content-section-header">
  <a name="faq">Frequently Asked Questions</a>
</div>
<div class="wrapper">
  <section class="content-section faq">
    {% capture faq %}
      {%- include challenge/faq.md %}
    {% endcapture %}
    {{ faq | markdownify }}
  </section>
</div>
