---
layout: default
---

<div class="wrapper">
  <section class="content-section intro">
    {% capture intro %}
      {%- include intro.md %}
    {% endcapture %}
    {{ intro | markdownify }}
    {% include mailchimp-tw.html %}
  </section>
</div>

{% assign events_for_current_year = site.events | where_exp: "event", "event.year == site.current_year" %}
{% unless events_for_current_year == empty %}
  <div class="content-section-header">
    <a name="schedule">Schedule</a>
  </div>
  <div class="wrapper">
    <section class="content-section">
      {% capture schedule %}
        {%- include schedule.md events=events_for_current_year %}
      {% endcapture %}
      {{ schedule | markdownify }}
    </section>
  </div>
{% endunless %}

<div class="contenders-image">
</div>
<div class="content-section-header">
  <a name="contenders">About The Contenders</a>
</div>
<div class="wrapper">
  <section class="content-section contenders">
    {% include contenders.html %}
  </section>
</div>


{% comment %} <div class="content-section-header"> {% endcomment %}
{% comment %}   <a name="participants">Participants</a> {% endcomment %}
{% comment %} </div> {% endcomment %}
{% comment %} <div class="wrapper"> {% endcomment %}
{% comment %}   <section class="content-section"> {% endcomment %}
{% comment %}     {%- include participants.html %} {% endcomment %}
{% comment %}   </section> {% endcomment %}
{% comment %} </div> {% endcomment %}

{% include location.html chrome=true %}
