Each year’s class of contenders is made up of a diverse collection of companies. Some big. Some small. Some new. Some established. All leading at the intersection of lifestyle and commerce. The Wright highlights their good work.

Here’s a look back at last year's official contenders. So often outdoor-inspired businesses are hatched from ideas shared around the campfire, on the river or over a whiskey. These companies are set apart by their grit and determination.
.
If selected as one of the twelve (give or take) contenders, nominees are asked to create a 90-second video conveying their story - who they are, what drives them and how they are delivering on their core. The videos below represent a cross-section of past contender entries.

<iframe src="https://player.vimeo.com/video/185695337" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<iframe src="https://player.vimeo.com/video/141713217" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<iframe src="https://player.vimeo.com/video/185695387" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<iframe src="https://player.vimeo.com/video/77157919" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<iframe src="https://player.vimeo.com/video/107969591" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<iframe src="https://player.vimeo.com/video/185700479" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
