<p class="centered-copy">
  <blockquote>
    <p>
      "From the beginning, it was never about the pizza, the passion was about riding our bikes in Fruita. It was all about creating a culture and a community that we wanted to live in."
    </p>
    <p>
      Jen Zeuner &amp; Anne Keller, Co-Founders, The Hot Tomato
    </p>
  </blockquote>
</p>

<p class="centered-copy">
  Each year, Something Independent embarks on a mission to assemble the new class of contenders. Twelve contenders for The Wright were selected from more than 125 peer-based nominations of innovative companies from five states in the Rocky Mountain region. In moving toward an expanded regional showcase, The Wright fielded nominations from Colorado, Utah, Wyoming, Idaho and Montana, opening the door for companies from outside of Colorado to be selected as official contenders for The Wright.
</p>

<h2>2018 Contenders In Review</h2>
<div class="contender-grid">
  {%- for contender in site.data.contenders -%}
    <div class="contender-cell">
      <h4>
        <a target="_blank" href="{{ contender.url }}">
          {{ contender.name }}
          {% if contender.designation %}
            ({{ contender.designation | upcase }})
          {% endif %}
        </a>
      </h4>
      <div class="fb-video"
          data-href="{{ contender.facebook_video_url }}"
          data-allowfullscreen="true"
          data-autoplay="false"
          data-show-text="false"
          data-show-captions="false"></div>
    </div>
  {%- endfor -%}
</div>

<p class="centered-copy">
  <h2>NOMINATION DETAILS</h2>
  The Wright is not an award you apply for. Contenders come via a nomination from their peers. Selected annually from over 100 nominees, each year’s class of is made up of a diverse collection of approximately 12 companies. Many are small, but some are large by comparison. Many are newer, yet some are quite established. They draw their inspiration from the outdoors and share a deep connection to the Rocky Mountain West. They make the things and design the stuff that help move us into and through the outdoors. Evident in their work product is an unyielding commitment to their craft. Any trust and success that they have realized, has come earned. 

  <a href="https://docs.google.com/forms/d/e/1FAIpQLSerC87m_DdyfAY0jZBn_Pj-7ObtWNcm-ualhXQrg5KcYDd3jQ/viewform" class="cta-button" target="_blank">Nominate today</a>
</p>

<p class="centered-copy">
  <h2>HISTORY</h2>
  Since its inception in 2011, The Wright has recognized over 100 companies, representing 26 towns across Colorado including Voormi of Pagosa Springs, South Main Co and Deerhammer Distilling from Buena Vista, Bonsai Design of Grand Junction, Icelantic Skis and Yeti Cycles from Golden, Big Agnes and Hala Gear from Steamboat Springs, Oskar Blues from Longmont (and Lyons), Rapidgrass Bluegrass Festival in Idaho Springs, Eldorado Climbing Walls in Boulder and Denver-based Flylow Gear and Topo Designs. 
</p>
