<p class="centered-copy">
  Each year, Something Independent embarks on a mission to assemble the new class of contenders. Twelve contenders for The Wright were selected from more than 125 peer-based nominations of innovative companies from five states in the Rocky Mountain region. In moving toward an expanded regional showcase, The Wright fielded nominations from Colorado, Utah, Wyoming, Idaho and Montana, opening the door for companies from outside of Colorado to be selected as official contenders for The Wright.
</p>

<h2>The 2018 Contenders</h2>
<a href="https://www.alpackaraft.com/" target="_blank">Alpacka Rafts, Mancos, Colo.</a><br />
<a href="https://www.cotopaxi.com/" target="_blank">Cotopaxi, Salt Lake City, Utah</a><br />
<a href="https://www.greengurugear.com/" target="_blank">Green Guru Gear, Boulder, Colo.</a><br />
<a href="https://www.hottomatopizza.com/" target="_blank">Hot Tomato, Fruita, Colo.</a><br />
<a href="http://www.mountainstatessnowcats.com/" target="_blank">Mountain States Snowcats, Torrington, Wyo.</a><br />
<a href="http://www.powderhorn.com/" target=_blank">Powderhorn Resort, Mesa, Colo.</a><br />
<a href="https://rmuoutdoors.com/" target="_blank">Rocky Mountain Underground, Breckenridge, Colo.</a><br />
<a href="https://www.sarabellafishing.com/" target="_blank">SaraBella Fishing, Denver, Colo.</a><br />
<a href="https://westernrise.com/" target="_blank">Western Rise, Telluride, Colo.</a><br />
<a href="https://westonsnowboards.com/" target="_blank">Weston Snowboards, Minturn/Denver, Colo.</a><br />
<a href="http://woodsdistillery.com/" target="_blank">Wood’s High Mountain Distillery, Salida, Colo.</a><br />
<a href="http://www.yeticycles.com/" target="_blank">Yeti Cycles, Golden, Colo.</a><br /> <br />


<p class="centered-copy">
  Since its inception in 2010, The Wright has recognized nearly 100 companies, representing 26 towns across Colorado including Voormi of Pagosa Springs, South Main Co and Deerhammer Distilling from Buena Vista, Bonsai Design of Grand Junction, Icelantic Skis and Yeti Cycles from Golden, Big Agnes and Hala Gear from Steamboat Springs, Oskar Blues from Longmont (and Lyons), Rapidgrass Bluegrass Festival in Idaho Springs, Eldorado Climbing Walls in Boulder and Denver-based Flylow Gear and Topo Designs. 
</p>

<p class="centered-copy">
"Reflected in The Wright and in the companies it recognizes are the core principles of entrepreneurship and examples of innovation in action," says Werner Kuhr, Director of the Center for Entrepreneurship &amp; Innovation at Colorado School of Mines. "The Wright presents an exciting opportunity for our students and our greater community to connect with innovative businesses and leaders who emphasize the same work-ethic, problem-solving abilities and collaborative focus valued here at Colorado School of Mines."
</p>

<img src="/assets/wright-logo-mashup.png" />

<iframe src="https://player.vimeo.com/video/183436168" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

