<footer class="site-footer">
  <div class="content-section-header">
    <a name="about">About Something Independent</a>
  </div>
  <div class="content-section">
    <div class="wrapper">
      <p class="centered-copy">
        Over the years, we have come to know outdoor-inspired enterprises and understand  the mindset that lies behind them. It’s a disposition inherent to the Mountain West and the independent men and women who carve their paths here. Something Independent sets out to celebrate the industry and culture of the outdoors. Current initiatives such as The Wright, S|I OutPost and Trade School provide a means through which to explore the challenges and possibilities that bring us closer to the core of meaningful work.
      </p>

      <div class="partner-si-logo">
        <a href="#about">
          <img src="/assets/si_logo_transparent.png" alt="A project of Something Independent" />
        </a>
      </div>

      {% include mailchimp-si.html %}

    </div>
  </div>
</footer>
