<footer class="site-footer">
  <div class="content-section-header">
    <a name="about">About Something Independent</a>
  </div>
  <div class="content-section">
    <div class="wrapper">
      <p class="centered-copy">
        Over the years, we have come to see what 'real work' looks like and better understand the mindset that lies behind it – a disposition inherent to the Mountain West and the independent-minded men and women who carve their paths here. Our purpose lies not in creating more ski makers, boat-builders, bike manufacturers or craft brewers or distillers, but rather to inspire the pursuit of the possible, to create more independent thinkers who exercise a moral imagination around the outdoors, who share a love of place and are drawn to lead a life rich with meaningful work.
      </p>

      <div class="partner-si-logo">
        <a href="#about">
          <img src="/assets/si_logo_transparent.png" alt="A project of Something Independent" />
        </a>
      </div>

      {% include mailchimp-si.html %}

    </div>
  </div>
</footer>
