<header class="site-header" role="banner">
  <div class="wrapper">
    <a href="{{ "/" | relative_url }}" class="site-title">
      <img src="{{ "/assets/wright-logo.png" | relative_url }}" alt="THe Wright" />
    </a>
  </div>
</header>

{% unless layout.exclude_tagline %}
  <section class="site-tagline">
    <div class="site-social">
      <a href="https://www.facebook.com/SomethingIndependent/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
      <a href="https://instagram.com/somethingindependent" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
      <a href="https://twitter.com/somethingindpnt" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
    </div>
    <div class="wrapper">
      May 1 &mdash; 3, 2018 &nbsp; | &nbsp; Golden, CO
    </div>
  </section>
{% endunless %}
