{% assign partners = site.data.partners[site.current_year] %}

{% unless partners == empty %}
  <div class="content-section-header">
    <a name="partners">Special thanks to our community partners</a>
  </div>
  <div class="wrapper">
    <div class="partner-logos">
      {%- for group in partners -%}
        <div class="logos-{{ group.format }}">
        {% for partner in group.items -%}
          <a href="{{ partner.url }}" title="{{ partner.name }}" target="_blank">
            <img src="{{ partner.logo_path }}" alt="{{ partner.name }}" />
          </a>
        {%- endfor -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
{% endunless %}
