<div class="content-section-header">
  <a name="partners">Partners</a>
</div>
<div class="wrapper">
  <div class="content-section">
    <p class="centered-copy">
      Special thanks to our community partners:
    </p>

    <div class="partner-logos">
      {%- for partner in site.data.partners -%}
        <a href="{{ partner.url }}" target="_blank">
          <img src="{{ partner.logo_path }}" alt="{{ partner.name }}" />
        </a>
      {%- endfor -%}
    </div>
  </div>
  <div class="content-section centered-copy">
    <h2>Volunteering</h2>
    <p>
      Throughout The Wright, there are many opportunities to plug in and help make the three days of panels, workshops, keynotes, Award Night, and social activities run smoothly.
      If you're interested in helping us out, we'd love to have you!
    </p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfs6kKaHayfEcKqA3khljDMLphxitAlWWAbZCdgVo3X4zACZQ/viewform" class="cta-button">Sign up to volunteer</a>
  </div>
</div>
