<div class="participant-grid">
  {% assign participants_by_priority = site.data.participants | group_by: "priority" | sort: "name" %}
  {%- for priority in participants_by_priority -%}
    {% assign participants_by_name = priority.items | sort: "last_name" %}
    {%- for participant in participants_by_name %}
      <div class="participant-headshot">
        <img src="{{ participant.headshot_path }}" alt="{{ participant.first_name }} {{ participant.last_name }} | {{ participant.company }}" />
        <div class="participant-name">{{ participant.first_name }} {{ participant.last_name }}</div>
        <div class="participant-company">{{ participant.company }}</div>
      </div>
    {%- endfor -%}
  {%- endfor -%}
<div>
