<div class="content-section-header">
  <a name="partners">Partners</a>
</div>
<div class="wrapper">
  <div class="content-section">
    <p class="centered-copy">
      Special thanks to our community partners:
    </p>

    <div class="sponsor-logos">
      <div class="logo-row-3up">
        <a href="https://www.choosecolorado.com/" target="_blank">
          <img src="/assets/logos/oedit.png" alt="Colorado Office of Economic Development and International Trade" />
        </a>
        <a href="https://www.mines.edu/" target="_blank">
          <img src="/assets/logos/school-of-mines-bw.png" alt="Colorado School of Mines" />
        </a>
        <a href="https://www.cityofgolden.net/" target="_blank">
          <img src="/assets/logos/city-of-golden-bw.png" alt="City of Golden" />
        </a>
      </div>
      <div class="logo-row-3up">
        <a href="https://www.nrel.gov/" target="_blank">
          <img src="/assets/logos/nrel.png" alt="NREL" />
        </a>
        <a href="https://www.eonetwork.org/colorado" target="_blank">
          <img src="/assets/logos/eo-colorado.png" alt="EO Colorado" />
        </a>
        <a href="https://www.coloradolendingsource.org/" target="_blank">
          <img src="/assets/logos/colorado-lending-source-bw.png" alt="Colorado Lending Source" />
        </a>
      </div>
      <div class="logo-row-3up">
        <a href="https://www.meetatct.com/" target="_blank">
          <img src="/assets/logos/centertable.png" alt="Centertable" />
        </a>
        <a href="https://www.twoparts.com/" target="_blank">
          <img src="/assets/logos/twoparts.png" alt="Two Parts" />
        </a>
        <a href="https://www.coloradolendingsource.org/" target="_blank">
          <img src="/assets/logos/orec.png" alt="Colorado Outdoor Recreation Industry Office" />
        </a>
      </div>
      <div class="logo-row-3up">
        <a href="http://jeffcoedc.org/" target="_blank">
          <img src="/assets/logos/jeffco-edc.png" alt="Jefferson County Economic Development Corporation" />
        </a>
        <a href="http://www.mountaineeringmuseum.org/" target="_blank">
          <img src="/assets/logos/museum.png" alt="American Mountaineering Museum" />
        </a>
        <a href="https://www.bentgate.com/" target="_blank">
          <img src="/assets/logos/bentgate.png" alt="Bentgate Mountaineering" />
        </a>
      </div>
    </div>
  </div>
</div>
