<div class="content-section-header">
  <a name="partners">Partners</a>
</div>
<div class="wrapper">
  <div class="content-section">
    <p class="centered-copy">
      Special thanks to our community partners:
    </p>

    <div class="sponsor-logos">
      <div class="logo-row-4up">
        <a href="https://www.cityofgolden.net/" target="_blank">
          <img src="/assets/logos/city-of-golden-bw.png" alt="City of Golden" />
        </a>
        <a href="https://www.mines.edu/" target="_blank">
          <img src="/assets/logos/school-of-mines-bw.png" alt="Colorado School of Mines" />
        </a>
        <a href="https://www.choosecolorado.com/" target="_blank">
          <img src="/assets/logos/oedit.png" alt="Colorado Lending Source" />
        </a>
        <a href="https://www.coloradolendingsource.org/" target="_blank">
          <img src="/assets/logos/colorado-lending-source-bw.png" alt="Colorado Lending Source" />
        </a>
      </div>
    </div>
  </div>
</div>
