%button {
  display: inline-block;
  font-family: $heading-font-family;
  font-size: ms(1);
  padding: $spacing-unit / 2;
  margin: $spacing-unit / 2 0;
  background-color: $orange-color;
  color: $background-color;
  text-decoration: none;
  -webkit-appearance: none;
  border: none;
}

.site-header {
  position: relative;
  z-index: 1;
  text-align: center;
  min-height: 40vh;
}

.site-header:before {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity : 0.8;

  background-image: url("/assets/wright-topomap-2019.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}

.site-title  {
  display: inline-block;
  position: relative;
  width: 50%;
  margin: $spacing-unit * 2 auto;
  padding: $spacing-unit;
  background-color: $background-color;
  z-index: 10;

  @include media-query($on-palm) {
    width: calc(80% - (#{$spacing-unit} * 2));
    width: -webkit-calc(80% - (#{$spacing-unit} * 2));
  }
}

.site-social {
  position: relative;
  float: right;
  text-align: right;
  padding-right: $spacing-unit;

  @include media-query($on-palm) {
    float: none;
    text-align: center;
    padding-top: $spacing-unit / 2;
    padding-right: 0;
  }

  a {
    font-size: ms(-3);
    margin: 0 $spacing-unit 0 0;
    color: $background-color;

    @include media-query($on-palm) {
      margin: 0 $spacing-unit / 2;
    }
  }
}

.site-tagline {
  position: sticky;
  top: 0;
  z-index: 1000;
  text-align: center;
  text-transform: uppercase;
  background-color: $navy-color;
  color: $background-color;
  font-size: ms(3);
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  padding: $spacing-unit / 2 0;

  a {
    text-decoration: none;
    color: inherit;
  }
}

/**
 * Site nav
 */

.site-nav {
  padding: $spacing-unit / 3 0;
  background-color: $orange-color;
}

.site-nav ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.site-nav li {
  display: inline-block;
}

.site-nav li a {
  font-size: ms(1);
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  margin: 1em;
  color: $background-color;
}


/**
 * Content sections
 */

.content-section {
  margin: $spacing-unit auto $spacing-unit * 2 auto;

  &.intro, &.contenders, &.areas-of-focus {
    text-align: center;

    .wright-explainer {
      margin: $spacing-unit auto;
    }

    .wright-tshirt-logo {
      margin: $spacing-unit auto;
      width: 30%;
      @include media-query($on-palm) {
        margin: auto 0;
        width: 50%;
      }
    }
  }
}

.content-section-header {
  width: 100%;
  color: $background-color;
  background-color: $navy-color;
  text-align: center;
  padding: $spacing-unit / 2 0;
  font-size: ms(4);
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;

  a, a:hover {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
  }
}

/**
 * E-mail form
 */

.email-form {
  margin: $spacing-unit auto auto auto;
  text-align: center;
  width: 70%;

  @include media-query($on-palm) {
    margin: auto 0;
    width: 100%;
  }
}

.email-form .form-header {
  font-size: ms(2);
  margin: 0;
}

.email-form form {
  margin: auto 0;
}

// These two come from Mailchimp's horizontal-slim default styling
.mc-field-group {
  display: inline-block;
}

#mc_embed_signup .clear {
  display: inline-block;
}

.email-form input[type="email"] {
  font-family: $heading-font-family;
  font-size: ms(1);
  padding: $spacing-unit / 2;
  margin: $spacing-unit / 2 0;
  background-color: $grey-color;
  color: $background-color;
  text-decoration: none;
  -webkit-appearance: none;
  border: none;
  width: calc(100% - #{$spacing-unit});
  width: -webkit-calc(100% - #{$spacing-unit});

  &:focus, &::placeholder {
    color: inherit;
  }
}

.email-form input[type="submit"] {
  @extend %button;
  width: 100%;
}

/**
 * Artist profiles
 */

.artists-container {
  padding: $spacing-unit 0;
  margin: auto;
  text-align: center;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  @include media-query($on-palm) {
    margin: auto 0;
    width: 100%;
  }
}

.artist-cell {
  margin-bottom: $spacing-unit;
}

.artist-photo {
  width: 50%;
  margin: 0;
  padding: 0;
  float: left;

  @include media-query($on-palm) {
    width: 100%;
  }
}

.artist-cell:nth-child(even) .artist-photo {
  float: right;
}

.artist-cell:nth-child(odd) .artist-photo {
  float: left;
}

.artist-description {
  margin: 0;
  padding: $spacing-unit / 2;
  font-size: ms(0);
  width: -webkit-calc(50% - (#{$spacing-unit}));
  width:         calc(50% - (#{$spacing-unit}));

  @include media-query($on-palm) {
    width: -webkit-calc(100% - (#{$spacing-unit}));
    width:         calc(100% - (#{$spacing-unit}));
  }
}

.artist-cell:nth-child(even) .artist-description {
  float: left;
}

.artist-cell:nth-child(odd) .artist-description {
  float: right;
}

.artist-tagline {
  font-style: italic;
  font-size: ms(0);
  margin-bottom: $spacing-unit / 2;
}

/**
 * Partners
 */

.partner-si-logo {
  margin: $spacing-unit auto;
  width: 33%;
  text-align: center;
  filter: grayscale(100%);

  @include media-query($on-palm) {
    width: 50%;
  }
}

.partner-logos {
  width: 100%;

  .logos-1up, .logos-2up, .logos-3up {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    a {
      margin: $spacing-unit / 2 $spacing-unit / 2;
      text-align: center;
      vertical-align: middle;
    }

    img {
      filter: grayscale(100%) opacity(75%);
      max-width: 70%;
      width: auto;
      max-height: 200px;
      height: auto;
    }
  }

  .logos-1up {
    a {
      width: -webkit-calc(80% - (#{$spacing-unit}));
      width:         calc(80% - (#{$spacing-unit}));
    }

    @include media-query($on-palm) {
      a {
        width: -webkit-calc(90% - (#{$spacing-unit}));
        width:         calc(90% - (#{$spacing-unit}));
      }
    }
  }

  .logos-2up {
    a {
      width: -webkit-calc(40% - (#{$spacing-unit}));
      width:         calc(40% - (#{$spacing-unit}));
    }

    @include media-query($on-palm) {
      a {
        width: -webkit-calc(65% - (#{$spacing-unit}));
        width:         calc(65% - (#{$spacing-unit}));
      }
    }
  }

  .logos-3up {
    a {
      width: -webkit-calc(30% - (#{$spacing-unit}));
      width:         calc(30% - (#{$spacing-unit}));
    }

    @include media-query($on-palm) {
      a {
        width: -webkit-calc(50% - (#{$spacing-unit}));
        width:         calc(50% - (#{$spacing-unit}));
      }
    }
  }
}

/**
 * Participants
 */

.participant-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .participant-headshot {
    display: block;
    margin: $spacing-unit / 2 $spacing-unit / 2;
    text-align: center;
    vertical-align: middle;
    width: calc(25% - (#{$spacing-unit} * 2));
    width: -webkit-calc(25% - (#{$spacing-unit} * 2));
    font-size: ms(-1);
    font-style: italic;
    line-height: 1;
  }

  @include media-query($on-palm) {
    .participant-headshot {
      width: calc(50% - (#{$spacing-unit} * 2));
      width: -webkit-calc(50% - (#{$spacing-unit} * 2));
    }
  }

  .participant-name {
    margin-bottom: $spacing-unit / 6;
  }

  img {
    filter: grayscale(100%);
    border-radius: 50%;
    width: 70%;
    margin-bottom: $spacing-unit / 3;
  }
}

.disclaimer {
  font-size: ms(-1);
  font-style: italic;
  line-height: 1;
}

.social-button {
  display: block;
  margin: $spacing-unit / 2 auto;
}

.calendar-button, .calendar-button:hover, .calendar-button:active, .calendar-button:visited {
  @extend %button;

  width: calc(50% - (#{$spacing-unit} * 2));
  width: -webkit-calc(50% - (#{$spacing-unit} * 2));
  text-align: center;
  display: inline-block;

  @include media-query($on-palm) {
    width: calc(80% - (#{$spacing-unit} * 2));
    width: -webkit-calc(80% - (#{$spacing-unit} * 2));
  }

  i {
    margin-right: $spacing-unit / 2;
  }
}

.cta-button, .cta-button:hover, .cta-button:visited {
  @extend %button;
  margin: $spacing-unit;
  padding: $spacing-unit / 2 $spacing-unit * 2;
  text-transform: uppercase;
}

.location-image {
  width: 100%;
  height: 40vh;
  background-image: url('/assets/golden-arch-large.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
}

.location-iframe {
  margin-bottom: $spacing-unit * 2;
  width: 100%;
  border: 0;
}

// Contenders section
.contenders-image {
  width: 100%;
  height: 40vh;
  background-image: url('/assets/jen-anne-tomato-booth.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
}

.contender-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  clear: both;

  .contender-cell {
    display: block;
    margin: $spacing-unit / 2 $spacing-unit / 2;
    text-align: center;
    vertical-align: middle;
    width: calc(50% - (#{$spacing-unit} * 2));
    width: -webkit-calc(50% - (#{$spacing-unit} * 2));
    font-size: ms(1);
    line-height: 1;
  }

  @include media-query($on-palm) {
    .contender-video {
      width: calc(80% - (#{$spacing-unit} * 2));
      width: -webkit-calc(80% - (#{$spacing-unit} * 2));
    }
  }

  // img {
  //   filter: grayscale(100%);
  //   border-radius: 50%;
  //   width: 70%;
  //   margin-bottom: $spacing-unit / 3;
  // }
}

.trade-school-image {
  width: 100%;
  height: 40vh;
  background-image: url('/assets/trade-school.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
}

.audience-image {
  width: 100%;
  height: 40vh;
  background-image: url('/assets/thewright-audience.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
}


// Save the date
.save-the-date-image {
  width: 100%;
  height: 40vh;
  background-image: url('/assets/wright-2018-panel.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
}

// Pitch competition

.pitches {
  padding: $spacing-unit 0;
  margin: auto;
  text-align: center;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  @include media-query($on-palm) {
    margin: auto 0;
    width: 100%;
  }
}

.pitch-container {
  margin-bottom: $spacing-unit;
  width: 50%;
  margin: 0;
  padding: 0;

  @include media-query($on-palm) {
    width: 100%;
  }
}

.pitch-company {
  font-size: ms(1);
  margin-bottom: 0;
}

.pitch-presenter {
  font-size: ms(0);
}

.pitch-video {
  width: 100%;
  margin: auto;
  padding: 0
}

.pitch-description {
  margin: 0;
  padding: $spacing-unit / 2;
  font-size: ms(-1);
}

// .artist-tagline {
//   font-style: italic;
//   font-size: ms(0);
//   margin-bottom: $spacing-unit / 2;
// }

